// Custom styling for loading-spinners

.loader {
  height: 50px;
  width: 50px;
}

// Styles for new loader.svg
@keyframes spin-animation {
  from {
      transform: rotate(0);
    }
  to {
    transform: rotate(360deg);
  }
}

.loader--animate {
  animation-name: spin-animation;
  animation-duration: 1s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
}

.loader__wrapper {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading__dot1 {
  animation: visibility 1s ease-in-out infinite;
}

@keyframes visibility {
  0% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.loading__dot2 {
  animation: visibility2 1s ease-in-out infinite;
}

@keyframes visibility2 {
  0% {
    opacity: 0;
  }

  21% {
    opacity: 0;
  }

  22% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.loading__dot3 {
  animation: visibility3 1s ease-in-out infinite;
}

@keyframes visibility3 {
  0% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  44% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
