.margins {
  &__svg--bottom {
    margin-bottom: 1rem;
  }
}

.margins__404 .position__offset-alert-core--root.position__offset-alert--visible {
  margin-top: 100px;
  padding-top: 1.2rem;
}

@media screen and (min-width: 992px) {
  .margins__404 .position__offset-alert-core--root.position__offset-alert--visible {
    margin-top: 95px;
  }
}