<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="/help Redirect" stopProcessing="true">
                   <match url="^help\/?$" />
                   <action type="Redirect" url="https://form.jotform.com/81775152814965" redirectType="Permanent"/>
                 </rule>
                 <rule name="Athletics Redirect" stopProcessing="true">
                   <match url="^athletics\/?$" />
                   <action type="Redirect" url="https://athletics.kcc.edu" redirectType="Permanent"/>
                 </rule>
                 <rule name="WIOA Redirect" stopProcessing="true">
                   <match url="^wioa\/?$" />
                   <action type="Redirect" url="https://wioa.kcc.edu" redirectType="Permanent"/>
                 </rule>
                 <rule name="ContinuingEd Redirect" stopProcessing="true">
                   <match url="^continuinged\/?$" />
                   <action type="Redirect" url="https://continuinged.kcc.edu" redirectType="Permanent"/>
                 </rule>
                 <rule name="Home Redirect" stopProcessing="true">
                   <match url=".*" />
                   <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                      <add input="{URL}" pattern="/Pages/Home.aspx" />
                      <add input="{URL}" pattern="/pages/home.aspx" />
                      <add input="{URL}" pattern="/students/pages/index.aspx" />
                      <add input="{URL}" pattern="/facultystaff/pages/default.aspx" />
                      <add input="{URL}" pattern="/students/pages/cancellations.aspx" />
                   </conditions>
                   <action type="Redirect" url="https://www.kcc.edu" redirectType="Permanent"/>
                 </rule>
                <rule name="Newsroom shortlink" stopProcessing="true">
                    <match url="^(news|newsroom)\/?$" />
                    <action type="Redirect" url="https://news.kcc.edu/" />
                </rule>
                <rule name="transferfair shortlink" stopProcessing="true">
                    <match url="^transferfair$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/transfer/#events" redirectType="Permanent"/>
                </rule>
                <rule name="TRIO shortlink" stopProcessing="true">
                    <match url="^trio$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/trio/" redirectType="Permanent"/>
                </rule>
                <rule name="exploreday shortlink" stopProcessing="true">
                    <match url="^exploreday\/?$" />
                    <action type="Redirect" url="https://visit.kcc.edu/" redirectType="Permanent"/>
                </rule>
                <rule name="comejoinus shortlink" stopProcessing="true">
                    <match url="^comejoinus\/?$" />
                    <action type="Redirect" url="https://www.enrole.com/kcc/jsp/index.jsp" redirectType="Permanent"/>
                </rule>
                <rule name="1098t shortlink" stopProcessing="true">
                    <match url="^1098t\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/tuition-and-aid/#t-and-other-forms" redirectType="Permanent"/>
                </rule>
                <rule name="advising shortlink" stopProcessing="true">
                    <match url="^advising\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/advising/" redirectType="Permanent"/>
                </rule>
                <rule name="alumni shortlink" stopProcessing="true">
                    <match url="^alumni\/?$" />
                    <action type="Redirect" url="https://foundation.kcc.edu/alumni/" redirectType="Permanent"/>
                </rule>
                <rule name="ATEC shortlink" stopProcessing="true">
                    <match url="^atec\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/?id=advanced-technology-education-center#riverfront-campus" redirectType="Permanent"/>
                </rule>
                <rule name="boardmeetings shortlink" stopProcessing="true">
                    <match url="^boardmeetings\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/board-of-trustees/" redirectType="Permanent"/>
                </rule>
                <rule name="careercamps shortlink" stopProcessing="true">
                    <match url="^careercamps\/?$" />
                    <action type="Redirect" url="https://continuinged.kcc.edu/" redirectType="Permanent"/>
                </rule>
                <rule name="cavaliersclassic shortlink" stopProcessing="true">
                    <match url="^cavaliersclassic\/?$" />
                    <action type="Redirect" url="https://foundation.kcc.edu/events/" redirectType="Permanent"/>
                </rule>
                <rule name="centurythanks shortlink" stopProcessing="true">
                    <match url="^centurythanks\/?$" />
                    <action type="Redirect" url="https://foundation.kcc.edu/" redirectType="Permanent"/>
                </rule>
                <rule name="connect shortlink" stopProcessing="true">
                    <match url="^connect\/?$" />
                    <action type="Redirect" url="http://connect.kcc.edu/" redirectType="Permanent"/>
                </rule>
                <rule name="contactus shortlink" stopProcessing="true">
                    <match url="^contactus\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/contact-us/" redirectType="Permanent"/>
                </rule>
                <rule name="counseling shortlink" stopProcessing="true">
                    <match url="^counseling\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/counseling-and-referral-services/" redirectType="Permanent"/>
                </rule>
                <rule name="data shortlink" stopProcessing="true">
                    <match url="^data\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/institutional-effectiveness/" redirectType="Permanent"/>
                </rule>
                <rule name="directions shortlink" stopProcessing="true">
                    <match url="^directions\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/#riverfront-campus" redirectType="Permanent"/>
                </rule>
                <rule name="disabilityservices shortlink" stopProcessing="true">
                    <match url="^disability-?services\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/disability-services/" redirectType="Permanent"/>
                </rule>
                <rule name="donate shortlink" stopProcessing="true">
                    <match url="^donate\/?$" />
                    <action type="Redirect" url="https://foundation.kcc.edu/give/form/general/" redirectType="Permanent"/>
                </rule>
                <rule name="dualcredit shortlink" stopProcessing="true">
                    <match url="^dualcredit\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/admissions/high-school/#dual-credit-administrative-handbook" redirectType="Permanent"/>
                </rule>
                <rule name="earlycollege shortlink" stopProcessing="true">
                    <match url="^earlycollege\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/admissions/high-school/#early-college-credit" redirectType="Permanent"/>
                </rule>
                <rule name="employerservices shortlink" stopProcessing="true">
                    <match url="^employerservices\/?$" />
                    <action type="Redirect" url="https://continuinged.kcc.edu/career-services/" redirectType="Permanent"/>
                </rule>
                <rule name="esl shortlink" stopProcessing="true">
                    <match url="^esl\/?$" />
                    <action type="Redirect" url="https://adulted.kcc.edu/programs/esl/" redirectType="Permanent"/>
                </rule>
                <rule name="finaid shortlink" stopProcessing="true">
                    <match url="^finaid\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/tuition-and-aid/financial-aid/" redirectType="Permanent"/>
                </rule>
                <rule name="financialaid shortlink" stopProcessing="true">
                    <match url="^financialaid\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/tuition-and-aid/financial-aid/" redirectType="Permanent"/>
                </rule>
                <rule name="finals shortlink" stopProcessing="true">
                    <match url="^finals\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/academics/final-exams/" redirectType="Permanent"/>
                </rule>
                <rule name="frenchcanadians shortlink" stopProcessing="true">
                    <match url="^frenchcanadians\/?$" />
                    <action type="Redirect" url="https://frenchcanadians.kcc.edu/" redirectType="Permanent"/>
                </rule>
                <rule name="give shortlink" stopProcessing="true">
                    <match url="^give\/?$" />
                    <action type="Redirect" url="https://foundation.kcc.edu/give/employee-giving/" redirectType="Permanent"/>
                </rule>
                <rule name="golfouting shortlink" stopProcessing="true">
                    <match url="^golfouting\/?$" />
                    <action type="Redirect" url="https://foundation.kcc.edu/events/" redirectType="Permanent"/>
                </rule>
                <rule name="gradchecklist shortlink" stopProcessing="true">
                    <match url="^gradchecklist\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/academics/commencement/#graduation-checklist" redirectType="Permanent"/>
                </rule>
                <rule name="gsupartnership shortlink" stopProcessing="true">
                    <match url="^gsupartnership\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/transfer/partnerships/#kccgsu-dual-degrees" redirectType="Permanent"/>
                </rule>
                <rule name="hcctp shortlink" stopProcessing="true">
                    <match url="^hcctp\/?$" />
                    <action type="Redirect" url="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF794B38" redirectType="Permanent"/>
                </rule>
                <rule name="hcdates shortlink" stopProcessing="true">
                    <match url="^hcdate\/?$s" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Health-Careers/Health-Careers-Program-Requirements/Important-Dates-and-Deadlines" redirectType="Permanent"/>
                </rule>
                <rule name="hcapply shortlink" stopProcessing="true">
                    <match url="^hcapply\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Health-Careers/Health-Careers-Program-Requirements" redirectType="Permanent"/>
                </rule>
                <rule name="healthprograms shortlink" stopProcessing="true">
                    <match url="^healthprograms\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Health-Careers" redirectType="Permanent"/>
                </rule>
                <rule name="helpdesk shortlink" stopProcessing="true">
                    <match url="^helpdesk\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/its/" redirectType="Permanent"/>
                </rule>
                <rule name="hortandag shortlink" stopProcessing="true">
                    <match url="^hortandag\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Agriculture-and-Horticulture" redirectType="Permanent"/>
                </rule>
                <rule name="hsartshow shortlink" stopProcessing="true">
                    <match url="^hsartshow\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/community/arts-and-culture/#high-school-art-exhibition" redirectType="Permanent"/>
                </rule>
                <rule name="ie shortlink" stopProcessing="true">
                    <match url="^ie\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/institutional-effectiveness/" redirectType="Permanent"/>
                </rule>
                <rule name="illinoisworknet shortlink" stopProcessing="true">
                    <match url="^illinoisworknet\/?$" />
                    <action type="Redirect" url="https://wioa.kcc.edu/" redirectType="Permanent"/>
                </rule>
                <rule name="instructcomplaint shortlink" stopProcessing="true">
                    <match url="^instructcomplaint\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/student-complaint-policy/" redirectType="Permanent"/>
                </rule>
                <rule name="itpolicies shortlink" stopProcessing="true">
                    <match url="^itpolicies\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/its/#computer-use-policies" redirectType="Permanent"/>
                </rule>
                <rule name="ITS shortlink" stopProcessing="true">
                    <match url="^its\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/its/" redirectType="Permanent"/>
                </rule>
                <rule name="jobfair shortlink" stopProcessing="true">
                    <match url="^jobfair\/?$" />
                    <action type="Redirect" url="https://continuinged.kcc.edu/career-services/job-fair/" redirectType="Permanent"/>
                </rule>
                <rule name="kcctrainingsolutions shortlink" stopProcessing="true">
                    <match url="^kcctrainingsolutions\/?$" />
                    <action type="Redirect" url="https://continuinged.kcc.edu/training/" redirectType="Permanent"/>
                </rule>
                <rule name="lawenforcement shortlink" stopProcessing="true">
                    <match url="^lawenforcement\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/en/current/academic-catalog/programs-of-study-by-area/law-enforcement/" redirectType="Permanent"/>
                </rule>
                <rule name="lli shortlink" stopProcessing="true">
                    <match url="^lli\/?$" />
                    <action type="Redirect" url="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF777290" redirectType="Permanent"/>
                </rule>
                <rule name="manufacturing shortlink" stopProcessing="true">
                    <match url="^manufacturing\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Industrial-and-Manufacturing-Technologies/Manufacturing-Technology" redirectType="Permanent"/>
                </rule>
                <rule name="MITC shortlink" stopProcessing="true">
                    <match url="^mitc\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/#manufacturing-and-industrial-technology-center" redirectType="Permanent"/>
                </rule>
                <rule name="nec shortlink" stopProcessing="true">
                    <match url="^nec\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/#north-extension-center" redirectType="Permanent"/>
                </rule>
                <rule name="nelnet shortlink" stopProcessing="true">
                    <match url="^nelnet\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/tuition-and-aid/?id=nelnet-payment-plan#tuition-payment-and-deadlines" redirectType="Permanent"/>
                </rule>
                <rule name="non-instructcomplaint shortlink" stopProcessing="true">
                    <match url="^non-instructcomplaint\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/student-complaint-policy/?id=non-instructionalgeneral-complaints#general-complaints" redirectType="Permanent"/>
                </rule>
                <rule name="Parking shortlink" stopProcessing="true">
                    <match url="^parking\/?$" />
                    <action type="Redirect" url="hpttps://www.kcc.edu/about/#parking" redirectType="Permanent"/>
                </rule>
                <rule name="payinfo shortlink" stopProcessing="true">
                    <match url="^payinfo\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/tuition-and-aid/#tuition-payment-and-deadlines" redirectType="Permanent"/>
                </rule>
                <rule name="payoptions shortlink" stopProcessing="true">
                    <match url="^payoptions\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/tuition-and-aid/?id=tuition-payment-options#tuition-payment-and-deadlines" redirectType="Permanent"/>
                </rule>
                <rule name="placement shortlink" stopProcessing="true">
                    <match url="^placement\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/admissions/testing/" redirectType="Permanent"/>
                </rule>
                <rule name="pta shortlink" stopProcessing="true">
                    <match url="^pta\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Health-Careers/Physical-Therapist-Assistant-AAS" redirectType="Permanent"/>
                </rule>
                <rule name="programs shortlink" stopProcessing="true">
                    <match url="^programs\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/academics/" redirectType="Permanent"/>
                </rule>
                <rule name="ptk shortlink" stopProcessing="true">
                    <match url="^ptk\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/clubs/#student-physical-therapist-assistants-club" redirectType="Permanent"/>
                </rule>
                <rule name="register shortlink" stopProcessing="true">
                    <match url="^register\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/academics/register/" redirectType="Permanent"/>
                </rule>
                <rule name="registration shortlink" stopProcessing="true">
                    <match url="^registration$" />
                    <action type="Redirect" url="https://www.kcc.edu/academics/register/" redirectType="Permanent"/>
                </rule>
                <rule name="reportacrime shortlink" stopProcessing="true">
                    <match url="^reportacrime\/?$" />
                    <action type="Redirect" url="/Community/campussecurity/pages/reportacrime.aspx" redirectType="Permanent"/>
                </rule>
                <rule name="riverfront shortlink" stopProcessing="true">
                    <match url="^riverfront\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/#riverfront-campus" redirectType="Permanent"/>
                </rule>
                <rule name="safety shortlink" stopProcessing="true">
                    <match url="^safety\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/police-and-safety/" redirectType="Permanent"/>
                </rule>
                <rule name="schedule shortlink" stopProcessing="true">
                    <match url="^schedule\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/academics/schedule/" redirectType="Permanent"/>
                </rule>
                <rule name="scholarships shortlink" stopProcessing="true">
                    <match url="^scholarships\/?$" />
                    <action type="Redirect" url="https://foundation.kcc.edu/scholarships/" redirectType="Permanent"/>
                </rule>
                <rule name="sexualmisconductpolicy shortlink" stopProcessing="true">
                    <match url="^sexualmisconductpolicy\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Code-of-Campus-Affairs-and-Regulations/Sexual-Misconduct-Policy" redirectType="Permanent"/>
                </rule>
                <rule name="silentwitness shortlink" stopProcessing="true">
                    <match url="^silentwitness\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/police-and-safety/#reporting-a-crime" redirectType="Permanent"/>
                </rule>
                <rule name="staff shortlink" stopProcessing="true">
                    <match url="^staff\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/directories/" redirectType="Permanent"/>
                </rule>
                <rule name="sustainability shortlink" stopProcessing="true">
                    <match url="^sustainability\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/community/sustainability/" redirectType="Permanent"/>
                </rule>
                <rule name="textalerts shortlink" stopProcessing="true">
                    <match url="^textalerts\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/police-and-safety/#notifications" redirectType="Permanent"/>
                </rule>
                <rule name="titleix shortlink" stopProcessing="true">
                    <match url="^titleix\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/title-ix/" redirectType="Permanent"/>
                </rule>
                <rule name="transfer shortlink" stopProcessing="true">
                    <match url="^transfer\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/transfer/" redirectType="Permanent"/>
                </rule>
                <rule name="triotalentsearch shortlink" stopProcessing="true">
                    <match url="^triotalentsearch\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/admissions/high-school/?id=trio-talent-search#trio-talent-search" redirectType="Permanent"/>
                </rule>
                <rule name="tutoring shortlink" stopProcessing="true">
                    <match url="^tutoring\/?$" />
                    <action type="Redirect" url="https://library.kcc.edu/tutoring/" redirectType="Permanent"/>
                </rule>
                <rule name="update shortlink" stopProcessing="true">
                    <match url="^update\/?$" />
                    <action type="Redirect" url="https://my.kcc.edu/faculty/Pages/Show-all-Newsletter.aspx" redirectType="Permanent"/>
                </rule>
                <rule name="upwardbound shortlink" stopProcessing="true">
                    <match url="^upwardbound\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/admissions/high-school/?id=upward-bound#upward-bound" redirectType="Permanent"/>
                </rule>
                <rule name="veterans shortlink" stopProcessing="true">
                    <match url="^veterans\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/admissions/veterans/" redirectType="Permanent"/>
                </rule>
                <rule name="VIP Tour shortlink" stopProcessing="true">
                    <match url="^vip\/?$" />
                    <action type="Redirect" url="https://visit.kcc.edu/" redirectType="Permanent"/>
                </rule>
                <rule name="catalog shortlink" stopProcessing="true">
                    <match url="^catalog\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog" redirectType="Permanent"/>
                </rule>
                <rule name="FERPA shortlink" stopProcessing="true">
                    <match url="^ferpa\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Code-of-Campus-Affairs-and-Regulations/Code-of-Campus-Affairs-and-Regulations#ferpa" redirectType="Permanent"/>
                </rule>
                <rule name="Apply shortlink" stopProcessing="true">
                    <match url="^apply\/?$" />
                    <action type="Redirect" url="https://apply.kcc.edu" redirectType="Permanent"/>
                </rule>
                <rule name="Canvas shortlink" stopProcessing="true">
                    <match url="^canvas\/?$" />
                    <action type="Redirect" url="https://kcc.instructure.com/" redirectType="Permanent"/>
                </rule>
                <rule name="consumerinfo shortlink" stopProcessing="true">
                    <match url="^consumerinfo\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/consumer-info/" redirectType="Permanent"/>
                </rule>
                <rule name="Bookstore shortlink" stopProcessing="true">
                    <match url="^bookstore\/?$" />
                    <action type="Redirect" url="https://books.kcc.edu" redirectType="Permanent"/>
                </rule>
                <rule name="Jobs shortlink" stopProcessing="true">
                    <match url="^jobs\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/human-resources/job-openings/" redirectType="Permanent"/>
                </rule>
                <rule name="Calendar shortlink" stopProcessing="true">
                    <match url="^calendar\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/academics/calendar/" redirectType="Permanent"/>
                </rule>
                <rule name="Joinahealthcareer shortlink" stopProcessing="true">
                    <match url="^joinahealthcareer\/?$" />
                    <action type="Redirect" url="https://form.jotform.com/KCCwebservices/healthcareers" redirectType="Permanent"/>
                </rule>
                <rule name="Give Day shortlink" stopProcessing="true">
                    <match url="^giveday\/?$" />
                    <action type="Redirect" url="https://foundation.kcc.edu/giveday/" redirectType="Permanent"/>
                </rule>
                <rule name="MITC classes shortlink" stopProcessing="true">
                    <match url="^mitcclasses\/?$" />
                    <action type="Redirect" url="https://form.jotform.com/KCCwebservices/kcc-machine-weld" redirectType="Permanent"/>
                </rule>
                <rule name="Disclosures shortlink" stopProcessing="true">
                    <match url="^disclosures\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/consumer-info" redirectType="Permanent"/>
                </rule>
                <rule name="EDI shortlink" stopProcessing="true">
                    <match url="^[eE][dD][iI]\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/student-resources/edi/" redirectType="Permanent"/>
                </rule>
                <rule name="idcard shortlink" stopProcessing="true">
                    <match url="^idcard\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/police-and-safety/#id-cards" redirectType="Permanent"/>
                </rule>
                <rule name="Respiratory shortlink" stopProcessing="true">
                    <match url="^respiratory\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Health-Careers/Respiratory-Therapist-AAS" redirectType="Permanent"/>
                </rule>
                <rule name="HCCTP redirect" stopProcessing="true">
                    <match url="^highwayconstruction\/?$" />
                    <action type="Redirect" url="https://continuinged.kcc.edu/hcctp" redirectType="Permanent"/>
                </rule>
                <rule name="applynow shortlink" stopProcessing="true">
                    <match url="^applynow\/?$" />
                    <action type="Redirect" url="https://kccedu.force.com/portal/TX_SiteLogin?startURL=%2Fportal%2FTargetX_Base__Portal" redirectType="Permanent"/>
                </rule>
                <rule name="fitnesscenter shortlink" stopProcessing="true">
                    <match url="^fitnesscenter\/?$" />
                    <action type="Redirect" url="https://athletics.kcc.edu/facilities/fitness-center/" redirectType="Permanent"/>
                </rule>
                <rule name="careercoach shortlink" stopProcessing="true">
                    <match url="^careercoach\/?$" />
                    <action type="Redirect" url="https://kcc.emsicc.com/" redirectType="Permanent"/>
                </rule>
                <rule name="history shortlink" stopProcessing="true">
                    <match url="^history\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/#college-history" redirectType="Permanent"/>
                </rule>
                <rule name="welding shortlink" stopProcessing="true">
                    <match url="^welding\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Industrial-and-Manufacturing-Technologies/Welding" redirectType="Permanent"/>
                </rule>
                <rule name="daisy-award shortlink" stopProcessing="true">
                    <match url="^daisy-award\/?$" />
                    <action type="Redirect" url="https://form.jotform.com/220685909392971" redirectType="Permanent"/>
                </rule>
                <rule name="aleks-math shortlink" stopProcessing="true">
                    <match url="^aleks-math\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/admissions/testing/#math-aleks" redirectType="Permanent"/>
                </rule>
                <rule name="idcards shortlink" stopProcessing="true">
                    <match url="^idcards\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/police-and-safety/#id-cards" redirectType="Permanent"/>
                </rule>
                <rule name="kcc.cc.il.us redirect" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="kcc.cc.il.us" />
                    </conditions>
                    <action type="Redirect" url="https://www.kcc.edu" redirectType="Permanent"/>
                </rule>
                <rule name="commitment-day shortlink" stopProcessing="true">
                    <match url="^commitment-day\/?$" />
                    <action type="Redirect" url="https://form.jotform.com/220965601879971" redirectType="Permanent"/>
                </rule>
                <rule name="training-grant-application shortlink" stopProcessing="true">
                    <match url="^training-grant\/?$" />
                    <action type="Redirect" url="https://wioa.kcc.edu/training-grant-application/" redirectType="Permanent"/>
                </rule>
                <rule name="financial-aid shortlink" stopProcessing="true">
                    <match url="^financial-aid\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/tuition-and-aid/financial-aid/" redirectType="Permanent"/>
                </rule>
                <rule name="auto-tech shortlink" stopProcessing="true">
                    <match url="^auto-tech\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Industrial-and-Manufacturing-Technologies/Automotive" redirectType="Permanent"/>
                </rule>
                <rule name="elec-eng-tech shortlink" stopProcessing="true">
                    <match url="^elec-eng-tech\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Industrial-and-Manufacturing-Technologies/Electrical-Engineering-Technology-Includes-Renewable-Energy" redirectType="Permanent"/>
                </rule>
                <rule name="criminal-justice shortlink" stopProcessing="true">
                    <match url="^criminal-justice\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Law-Enforcement" redirectType="Permanent"/>
                </rule>
                <rule name="law-enforcement shortlink" stopProcessing="true">
                    <match url="^law-enforcement\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/current/Academic-Catalog/Programs-of-Study-by-Area/Law-Enforcement" redirectType="Permanent"/>
                </rule>
                <rule name="comp-gfx-tech shortlink" stopProcessing="true">
                    <match url="^comp-gfx-tech\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/2022-2023/Academic-Catalog/Programs-of-Study-by-Area/Computer-Graphic-Technology" redirectType="Permanent"/>
                </rule>
                <rule name="Gap Year shortlink" stopProcessing="true">
                    <match url="^gapyear\/?$" />
                    <action type="Redirect" url="https://continuinged.kcc.edu/career-services/request-info/" redirectType="Permanent"/>
                </rule>
                <rule name="Innovation Lab youtube audio tour" stopProcessing="true">
                    <match url="^innovation-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/OTKMzWaz1UM" redirectType="Permanent"/>
                </rule>
                <rule name="Automation Hydraulics youtube audio tour" stopProcessing="true">
                    <match url="^automation-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/V-oCfvI2TeI" redirectType="Permanent"/>
                </rule>
                <rule name="Design Tech youtube audio tour" stopProcessing="true">
                    <match url="^design-tech-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/hghgmNrru20" redirectType="Permanent"/>
                </rule>
                <rule name="Electronics youtube audio tour" stopProcessing="true">
                    <match url="^electronics-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/LCfWP4GBazU" redirectType="Permanent"/>
                </rule>
                <rule name="Graphic Design youtube audio tour" stopProcessing="true">
                    <match url="^graphic-design-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/ZkMdFW-QB44" redirectType="Permanent"/>
                </rule>
                <rule name="Motor Control Lab youtube audio tour" stopProcessing="true">
                    <match url="^motor-control-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/ydNyaTSpPZo" redirectType="Permanent"/>
                </rule>
                <rule name="Automotive youtube audio tour" stopProcessing="true">
                    <match url="^automotive-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/FMxzLNx7MgE" redirectType="Permanent"/>
                </rule>
                <rule name="Police Training Simulator youtube audio tour" stopProcessing="true">
                    <match url="^pt-simulator-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/DYxIPKw8q-0" redirectType="Permanent"/>
                </rule>
                <rule name="Law Enforcement Crime Scene Lab youtube audio tour" stopProcessing="true">
                    <match url="^crime-scene-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/xDmBnAa9Go8" redirectType="Permanent"/>
                </rule>
                <rule name="Welcome youtube audio tour" stopProcessing="true">
                    <match url="^welcome-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/GszVwHR4Kv0" redirectType="Permanent"/>
                </rule>
                <rule name="Thank you for visiting youtube audio tour" stopProcessing="true">
                    <match url="^thank-you-yt\/?$" />
                    <action type="Redirect" url="https://youtu.be/J3LXy_cGTPU" redirectType="Permanent"/>
                </rule>
                <rule name="Budget shortlink" stopProcessing="true">
                    <match url="^budget\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/uploads/docs/FY23-budget-for-BOT.pdf" redirectType="Permanent"/>
                </rule>
                <rule name="Cash Bash shortlink" stopProcessing="true">
                    <match url="^cashbash\/?$" />
                    <action type="Redirect" url="https://athletics.kcc.edu/support/cash-bash/" redirectType="Permanent"/>
                </rule>
                <rule name="MLT shortlink" stopProcessing="true">
                    <match url="^mlt\/?$" />
                    <action type="Redirect" url="https://kcc.smartcatalogiq.com/en/current/academic-catalog/programs-of-study-by-area/health-careers/medical-laboratory-technology-aas/" redirectType="Permanent"/>
                </rule>
                <rule name="Military Dependents shortlink" stopProcessing="true">
                    <match url="^military-?dependents\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/admissions/veterans/#military-dependents" redirectType="Permanent"/>
                </rule>
                <rule name="Catholic Charities map shortlink - QR code" stopProcessing="true">
                    <match url="^catholic-charities-map\/?$" />
                    <action type="Redirect" url="https://cdn.kcc.edu/graphics/maps/campus-map_catholic-charity_outlines.pdf" redirectType="Permanent"/>
                </rule>
                <rule name="Google Maps Directions to KCC shortlink - QR code" stopProcessing="true">
                    <match url="^directions-to-kcc\/?$" />
                    <action type="Redirect" url="https://www.google.com/maps/dir/?api=1&amp;destination=Kankakee+Community+College%2C+College+Drive%2C+Kankakee%2C+IL" redirectType="Permanent"/>
                </rule>
                <rule name="Google Maps Directions to Catholic Charities - QR code" stopProcessing="true">
                    <match url="^directions-to-catholic-charities\/?$" />
                    <action type="Redirect" url="https://www.google.com/maps/dir/?api=1&amp;destination=Catholic+Charities%2C100+College+Drive%2C+Kankakee%2C+IL+60901" redirectType="Permanent"/>
                </rule>
                <rule name="SEC short-link" stopProcessing="true">
                    <match url="^sec\/?$" />
                    <action type="Redirect" url="https://www.kcc.edu/about/#south-extension-center" redirectType="Permanent"/>
                </rule>
                <rule name="ICCB CTE page (http://www2.iccb.org/cte/) fix for bad link to KCC page" stopProcessing="true">
                    <match url="^future\/start\/Pages\/cte\.aspx" />
                    <action type="Redirect" url="https://www.kcc.edu/academics" redirectType="Permanent"/>
                </rule>
            </rules>
            <outboundRules rewriteBeforeCache="true">
                <rule name="Rewrite Server header">
                    <match serverVariable="RESPONSE_Server" pattern=".+" />
                    <action type="Rewrite" value="1.21 gigawatt flux capacitor" />
                </rule>
            </outboundRules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <caching enabled="true" enableKernelCache="true">
         <profiles>
            <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".pdf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
         </profiles>
      </caching>
      <staticContent>
          <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      </staticContent>
    </system.webServer>
</configuration>
